@font-face {
  font-family: "iconfont"; /* Project id 2606434 */
  src: url('iconfont.woff2?t=1623341425343') format('woff2'),
       url('iconfont.woff?t=1623341425343') format('woff'),
       url('iconfont.ttf?t=1623341425343') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="el-icon-third"],
[class*=" el-icon-third"]{
font-family: "iconfont" !important;
font-size: 16px;
font-style: normal;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
} 

.icon-yuyin:before {
  content: "\e681";
}

